In [1]:
import pandas as pd
df = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/00488/Live_20210128.csv")
df.head()

,status_id,status_type,status_published,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,num_sads,num_angrys,Column1,Column2,Column3,Column4
0,1,video,4/22/2018 6:00,529,512,262,432,92,3,1,1,0,NaN,NaN,NaN,NaN
1,2,photo,4/21/2018 22:45,150,0,0,150,0,0,0,0,0,NaN,NaN,NaN,NaN
2,3,video,4/21/2018 6:17,227,236,57,204,21,1,1,0,0,NaN,NaN,NaN,NaN
3,4,photo,4/21/2018 2:29,111,0,0,111,0,0,0,0,0,NaN,NaN,NaN,NaN
4,5,photo,4/18/2018 3:22,213,0,0,204,9,0,0,0,0,NaN,NaN,NaN,NaN

In [3]:
df.dropna(axis=1,inplace=True)

In [4]:
L = list(df.columns)
print(L)

['status_id', 'status_type', 'status_published', 'num_reactions', 'num_comments', 'num_shares', 'num_likes', 'num_loves', 'num_wows', 'num_hahas', 'num_sads', 'num_angrys']

In [5]:
L.remove('status_type')
Y = df['status_type']
X = df[L]

In [7]:
X.drop(labels=['status_id','status_published'],axis=1,inplace=True)

/tmp/ipykernel_38812/1562467071.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X.drop(labels=['status_id','status_published'],axis=1,inplace=True)

In [9]:
print(Y.head())

0    video
1    photo
2    video
3    photo
4    photo
Name: status_type, dtype: object

In [10]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
Y = le.fit_transform(Y)

In [11]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X = sc.fit_transform(X)

In [15]:
from sklearn.cluster import KMeans
kmean = KMeans(random_state=10,n_clusters=2)
kmean.fit(X,Y)
print(kmean.inertia_)

48802.478108520874

In [16]:
from sklearn.cluster import KMeans
from sklearn.metrics import confusion_matrix
kmean = KMeans(random_state=10,n_clusters=4)
kmean.fit(X,Y)
pred = kmean.predict(X)

print(confusion_matrix(Y,pred))

[[  49    0   14    0]
 [4051   24  212    1]
 [ 295    0   70    0]
 [1869  356   76   33]]

In [19]:
print(pred[0])

0