In [1]:
import pandas as pd
df = pd.read_csv("used_cars.csv")
df.head()

,MSRP,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length,Make_Acura,...,Type_Sedan,Type_Sports,Type_Truck,Type_Wagon,Origin_Asia,Origin_Europe,Origin_USA,DriveTrain_All,DriveTrain_Front,DriveTrain_Rear
0,36945,3.5,6.0,265,17,23,4451,106,189,1,...,0,0,0,0,1,0,0,1,0,0
1,23820,2.0,4.0,200,24,31,2778,101,172,1,...,1,0,0,0,1,0,0,0,1,0
2,26990,2.4,4.0,200,22,29,3230,105,183,1,...,1,0,0,0,1,0,0,0,1,0
3,33195,3.2,6.0,270,20,28,3575,108,186,1,...,1,0,0,0,1,0,0,0,1,0
4,43755,3.5,6.0,225,18,24,3880,115,197,1,...,1,0,0,0,1,0,0,0,1,0

In [2]:
df.shape

(426, 59)

In [3]:
df.dropna(axis=0,inplace=True)

In [4]:
L = df.columns
L = list(L)
L.remove("MSRP")
X = df[L]
Y = df["MSRP"]

In [5]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.3,random_state=1)

In [6]:
from sklearn.ensemble import BaggingRegressor, RandomForestRegressor, GradientBoostingRegressor, AdaBoostRegressor
from sklearn.metrics import mean_squared_error

models = {
    "Bagging": BaggingRegressor(random_state=1),
    "RandomForest": RandomForestRegressor(random_state=1),
    "GradientBoosting": GradientBoostingRegressor(random_state=1),
    "AdaBoost": AdaBoostRegressor(random_state=1)
}

for name, model in models.items():
    model.fit(X_train, Y_train)
    preds = model.predict(X_test)
    mse = model.score(X_test,Y_test)
    print(f"{name} Score: {mse:.4f}")

Bagging Score: 0.7920
RandomForest Score: 0.8358
GradientBoosting Score: 0.8270
AdaBoost Score: 0.6985

In [11]:
param_grid = {
    'n_estimators':[100,500,1000],
    'learning_rate':[0.5,1,2]
}

from sklearn.model_selection import GridSearchCV
gc = GridSearchCV(
    AdaBoostRegressor(random_state=1),
    param_grid=param_grid,
    cv=4
)
gc.fit(X_train,Y_train)
print(gc.score(X_test,Y_test))

0.7092011324154075

In [12]:
print(gc.best_params_)

{'learning_rate': 2, 'n_estimators': 500}