In [6]:
import pandas as pd
import numpy as np

In [33]:
df = pd.read_csv('V5.csv')
df.head()

,Date,Year,Locality,Estimated Value,Sale Price,Property,Residential,num_rooms,num_bathrooms,carpet_area,property_tax_rate,Face
0,2009-01-02,2009,Waterbury,111440.0,185000.0,Single Family,Detached House,3,3,996.0,1.025953,South
1,2009-01-02,2009,Bridgeport,124670.0,150000.0,Two Family,Duplex,4,3,1241.0,1.025953,South
2,2009-01-02,2009,Waterbury,55720.0,140000.0,Single Family,Detached House,3,2,910.0,1.025953,South
3,2009-01-02,2009,Bridgeport,4775276.0,272900.0,Single Family,Detached House,3,1,971.0,1.025953,East
4,2009-01-02,2009,Bridgeport,112351.0,210000.0,?,Detached House,3,2,1092.0,1.025953,East

Q1 . Select all the even indexed rows from the given data set. What is the value in the 3rd indexed column of the 0th indexed row in the selected dataframe

In [34]:
L = []
for i in range(df.shape[0]):
    if i%2:
        L.append(i)
df1 = df.drop(index=L)
df1 = df1.reset_index(drop=True)
df1.head()
print(df1.at[0,"Estimated Value"])

111440.0

Q2 . Select all the even indexed rows from the given data set. What is the value in the 3rd indexed column of the 322th indexed row in the selected dataframe

In [35]:
print(df1.head())
print(df1.at[332,"Estimated Value"])

         Date  Year    Locality  Estimated Value  Sale Price       Property  \
0  2009-01-02  2009   Waterbury         111440.0    185000.0  Single Family
1  2009-01-02  2009   Waterbury          55720.0    140000.0  Single Family
2  2009-01-02  2009  Bridgeport         112351.0    210000.0              ?
3  2009-01-02  2009     Norwalk         571060.0   1000000.0  Single Family
4  2009-01-02  2009         NaN         603540.0   1680000.0  Single Family

      Residential  num_rooms  num_bathrooms  carpet_area  property_tax_rate  \
0  Detached House          3              3        996.0           1.025953
1  Detached House          3              2        910.0           1.025953
2  Detached House          3              2       1092.0           1.025953
3  Detached House          3              2          NaN           1.025953
4  Detached House          3              1       1039.0           1.025953

    Face
0  South
1  South
2   East
3  South
4   East
256200.0

Q3 . Select all the odd indexed rows from the given dataset. What is the value in the 3rd indexed column of the 332th indexed row in the selected dataframe

In [36]:
L = []
for i in range(df.shape[0]):
    if i%2==0:
        L.append(i)
df2 = df.drop(index=L)
df2 = df2.reset_index(drop=True)
df2.head()
print(df2.at[332,"Estimated Value"])

352940.0

Q4 . Select all the odd indexed rows from the given dataset. What is the value in the 5th indexed column of the 100th indexed row in the selected dataframe

In [39]:
print(df2.iloc[255,5]) # iloc is better if you have the row and column number directly

Single Family

Q5 . Select all the even indexed columns and even indexed rows from the given datasets. What is the value in the 3rd indexed column of the 255th indexed row in the selected dataframe

In [42]:
print(df1.iloc[255,6]) # 6 since i only need the even columns as well

Detached House

Q6 . Determine the number of samples in the dataset that belong to the six most recent years, based on the provided data

In [49]:
L = []
for index,row in df.iterrows():
    L.append(row["Year"])

f = max(L)
ans = 0
for i in L:
    if f-i<=6:
        ans += 1
print(ans)

5548

Q7 . Determine the number of samples in the dataset which has num_rooms = 3 and num_bathrooms = 3

In [50]:
ans = 0
for index,row in df.iterrows():
    if row["num_rooms"]==3 and row["num_bathrooms"]==3:
        ans += 1
print(ans)

2730

Q8 . Determine the number of samples in the dataset which has num_rooms = 3 or num_bathrooms = 3

In [51]:
ans = 0
for index,row in df.iterrows():
    if row["num_rooms"]==3 or row["num_bathrooms"]==3:
        ans += 1
print(ans)

8591

Q9 . In the Year 2022, how many houses located in Greenwich Locality have exactly num_rooms==3 and facing towards either the North or East

In [53]:
ans = 0
for index,row in df.iterrows():
    if row["num_rooms"]==3 and row["Year"]==2022 and row["Locality"]=="Greenwich" and (row["Face"]=="North" or row["Face"]=="East"):
        ans += 1
print(ans)

42

Q10 . Calculate the number of samples that correspond to the month of August over all years

In [54]:
ans = 0
for index,row in df.iterrows():
    if row["Date"][5:7]=="08":
        ans += 1
print(ans)

1050

Q11 . According to the data which Locality have highest average Sale Price

In [55]:
from collections import Counter
d = Counter()
d1 = Counter()

for index,row in df.iterrows():
    d[row["Locality"]] += 1
    d1[row["Locality"]] += row["Sale Price"]

ans = ""
ans1 = 0
for i in d1:
    if d1[i]/d[i]>ans1:
        ans1 = d1[i]/d[i]
        ans = i
print(ans)

Greenwich